
.spotify-svg {
    width: 100%;
    height: 100%;
}

.spotify-path {
    transform-origin: center;
    transition: transform 0.3s ease-in-out, fill 0.5s ease-in-out, stroke-width 2s ease, stroke 1s ease-in-out;
}

.spotify-path:active {
    transform: scale(1.1);
    fill: #1ED760;
    stroke-width: 5;
    stroke: black;
}