/* Title */
.span-hover {
    display: inline-block;
    transition: transform 0.1s ease, color 0.1s;
}

.span-hover:hover {
    transform: scale(1.2) skew(3deg) rotate(700deg);
    color: #1ED760;
}

/* End title */


.spotify-svg {
    width: 100%;
    height: 100%;
}

.hover-scale-path {
    transform-origin: center;
    transition: transform 0.3s ease-in-out, fill 0.5s ease-in-out, stroke-width 2s ease, stroke 1s ease-in-out;
}

.hover-scale-path:hover {
    transform: scale(1.1);
    fill: #1ED760;
    stroke-width: 5;
    stroke: black;
}